* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-wrapper{
    display: flex;
    border: 4px solid silver;
    box-shadow: 8px 12px 10px;
}

.item {
    width: 800px;
    height: 500px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

.thumbs {
    height: 500px;
    background: #000;
    position: relative;
}

.thumb {
    height: calc((500px) / 5);
    width: 250px;
    opacity: 0.5;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb.active {
    border: 2px solid silver;
    opacity: 1;
}

.prev, .next {
    width: 25px;
    height: 25px;
    margin: 10px 0;
    border-radius: 50%;
    background: silver;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
    text-align: center;
    line-height: 24px;
}

.next {
    bottom: 0;
}